<%- include('header', { title: 'Your Notes' }) %>

<div class="container">
  <h1>Your Notes</h1>

  <!-- Form for adding a new note -->
  <form action="/notes/create" method="POST">
    <input type="text" name="noteText" placeholder="Enter your note here">
    <button type="submit">Add Note</button>
  </form>

  <% notes.forEach(function(note) { %>
    <div>
      <!-- Note update (checkmark) form -->
      <form action="/notes/update/<%= note._id %>" method="POST">
        <li class="<%= note.done ? 'done-note' : '' %>">
          <input type="checkbox" name="done" onchange="this.form.submit()" <% if(note.done) { %>checked<% } %> >
          <%= note.text %>
        </li>
      </form>

      <!-- Delete button form -->
      <form action="/notes/delete/<%= note._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
    </div>
  <% }) %>
</div>

<%- include('footer') %>

<!-- Gray and line-through for done notes-->
<style>
  .done-note {
    text-decoration: line-through;
    color: grey;
  }
</style>
